<mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          David Echeverria
        </mat-panel-title>
        <mat-panel-description>
          Software Developer
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-panel-description>
          dechever@umd.edu
      </mat-panel-description>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Kevin Nogales
          </mat-panel-title>
          <mat-panel-description>
            Project Manager
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-panel-description>
            knogales@umd.edu
        </mat-panel-description>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
      
      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Matthew Chuang
          </mat-panel-title>
          <mat-panel-description>
            Software Developer
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-panel-description>
            mchuang@umd.edu
        </mat-panel-description>
        <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Aleksandra Gargulinski
          </mat-panel-title>
          <mat-panel-description>
            Scrum Master
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-panel-description>
            agargulinksi@umd.edu
        </mat-panel-description>
        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
          <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>
      </mat-expansion-panel>
</mat-accordion>
